.login-page {
   background-color: $color-1;
   width: 100%;
   font-family: $nunito;
   .imgLaH {
      text-align: center;
      padding-top: 10vh;
      img {
         margin-bottom: 50px;
         min-width: 200px;
         max-width: 350px;
      }
   }
   .login-form {
      text-align: center;
      border: solid $color-2;
      border-radius: 5px;
      width: 70%;
      margin: auto;
      margin-top: 30vh;
      transform: translateY(-50%);
      padding: 40px;
      background-color: $color-3;
      box-shadow: $color-2 3px 3px 3px;
      form {
         display: flex;
         flex-direction: column;
         width: 75%;
         margin: auto;
         input {
            width: 75%;
            min-width: 200px;
            max-width: 475px;
            height: 35px;
            margin: 15px auto;
            border: solid #000 2px;
            background-color: transparent;
            color: $color-2;
            font-weight: bold;
            border-top: transparent;
            border-right: transparent;
            border-radius: 5px;
            box-shadow: 2px 2px 2px;
         }
      }
   }
}