.modal-forgot-password {
   position: fixed;
   top: 62%;
   left: 50%;
   transform: translate(-50%,-50%);
   justify-content: center;
   width: 50%;
   height: 260px;
   border: solid 2px $color-2;
   background-color: $color-3;
   border-radius: 5px;
   font-family: $nunito;
   z-index: 15;
   .cross {
      width: 20px;
      position: fixed;
      top: 10%;
      left: 95%;
      transform: translate(-5%,-90%);
      cursor: pointer;
   }
   .ask-password {
      display: flex;
      flex-direction: column;
      width: 75%;
      margin: 75px auto;
      span {
         margin-bottom: 10px;
      }
      input {
         @extend span;
         height: 35px;
      }
   }
}