@keyframes opacity {
	from {
		opacity: 0;
	}

	85% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}


@keyframes ball1 {
   0% {
      visibility: visible;
      margin-top: 0px;
   }

   10% {
      visibility: visible;
      margin-top: -50px;
   }

   20% {
      visibility: visible;
      margin-top: 0px;
   }

   100% {
      visibility: visible;
      margin-top: 0px;
   }
}

@keyframes ball2 {}

@keyframes ball3 {}