.btn-login {
   width: 35%;
   min-width: 120px;
   max-width: 350px;
   height: 35px;
   margin: 50px auto;
   border: solid $color-2;
   color: $color-2;
   font-weight: bold;
   border-radius: 5px;
   transition: .5s;
   box-shadow: 2px 2px 2px;
}

.btn-login:hover {
   background-color: $color-2;
   color: #fff;
   box-shadow: 2px 2px 2px;
}

.forgot-password {
   background-color: transparent;
   border: none;
   line-height: .4;
}

.forgot-password::after {
   content: '';
   display: inline-block;
   width: 5%;
   height: 1px;
   background-color: $color-3;
   transition: .3s;
   line-height: 0;
}

.forgot-password:hover::after {
   width: 100%;
   background-color: #000;
}

.backup-btn {
   width: 50%;
   min-width: 120px;
   max-width: 350px;
   margin: auto;
   border: solid 2px $color-2;
   border-radius: 5px;
   background-color: $color-3;
   color: $color-2;
   font-weight: bold;
   box-shadow: 2px 2px 2px $color-2;
   transition: .5s;
}

.backup-btn:hover {
   background-color: $color-2;
   color: #fff;
   box-shadow: 2px 2px 2px;
}